<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".routine">

        </activity>
        <activity android:name=".testing"/>
        <activity android:name=".testing2"/>
        <activity android:name=".test_camera"/>
        <activity android:name=".classAttributes">

        </activity>
        <activity android:name=".attendance">

        </activity>

        <activity android:name=".add_routine_task">

        </activity>

        <activity android:name=".notes">

        </activity>
        <activity android:name=".settings"/>
        <activity android:name=".add_note"/>
        <activity android:name=".activities"/>
        <activity android:name=".add_activity"/>

        <receiver android:name=".AlarmIntent"/>
    </application>

    <dist:module dist:instant="true" />

</manifest>